.box{
    width: 150px;
    height:150px;
    border:1px solid  black;
    display: inline-block;
    margin: -3px;
    font-size: 70px;
    color: black;
    text-align: center;
    
}

.black{
    background-color: black;
    color: white;


}